body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: white;
  letter-spacing: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2f42;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul,
ol {
  list-style-type: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.menu-nav-link {
  line-height: 1.5;
}

.menu-nav-link:hover {
  color: #404bbf;
  letter-spacing: 0.02em;
}

.menu-nav-link .studio:active {
  color: ;
}

.contact-info {
  font-style: normal;
}

.title-heading {
  color: white;
  background-color: #2e2f42;
  font-size: 56px;
  line-height: 60px;
}

.title-button {
  background-color: #4d5ae5;
  border: none;
  color: white;
}
