body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: white;
  letter-spacing: 2%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #2e2f42;
}

a {
  text-decoration: none;
  color: #2e2f42;
}

ul,
ol {
  list-style-type: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 18px;
  line-height: 1.17;
  color: #4d5ae5;
}

.logo-studio {
  color: #2e2f42;
}

.menu-nav-link {
  line-height: 1.5;
}

.menu-nav-link:hover,
.menu-nav-link-studio:hover {
  color: #404bbf;
  letter-spacing: 0.02em;
}

.menu-nav-link-studio:active {
  text-decoration: underline;
}

.contact-info-email:hover,
.contact-info-phone:hover {
  color: #404bbf;
  letter-spacing: 0.02em;
}

.contact-info {
  font-style: normal;
}

/* title */

.title-heading {
  color: white;
  background-color: #2e2f42;
  font-size: 56px;
  line-height: 60px;
  text-align: center;
}

.title-button {
  background-color: #4d5ae5;
  border: none;
  color: white;
  cursor: pointer;
}

.title-button:hover {
  background-color: #404bbf;
}

/* team */

.team {
  background-color: #f4f4fd;
}

.team-heading {
  letter-spacing: 0.02em;
  line-height: 1.11;
  font-size: 36px;
}

.team-name {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.team-role {
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* portfolio */

.portfolio-heading {
  font-weight: bold;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-align: center;
}

.portfolio-sub-heading {
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.portfolio-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* footer */

.footer {
  background-color: #2e2f42;
}

.footer-text {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.footer-logo-studio {
  color: #f4f4fd;
}
